@font-face {
  font-family: 'Inter';
  src: url(./fonts/Inter-VariableFont_slnt,wght.ttf);
}


h1, h2, h3, h4, h5, h6, p {
  font-weight: 500;
}

body {
  font-family: 'Inter';
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}


:root {
  --health: #F93080;
  --environment: #179F4E;
  --infrastructure: #146FD1;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.sidebar {
  border: 1px solid black;
  background-color: white;
  overflow-x: hidden;
}

.sidebar-header {
  font-size: 20px;
  font-weight: bold;
  border: 1px solid black;
  padding: 1rem;
  overflow-y: auto;
  height: 100%;
}

.sidebar-body {
  font-size: 16px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  left: 0;
  transition: left 1s;
  z-index: 2;
}

.collapsed {
  left: calc(-25vw + 1px);
}

.chapters {
  padding: 1em;
  border: 1px solid black;
  transition: background-color 0.5s;
  word-wrap: normal;
}

.thirds {
  min-height: calc(100vh / 3) !important;
}

.chapters-unselected {
  background-color: white;
}

.chapters:hover, .chapters-selected {
  background-color: black;
  color: white;
  #border-right: 2px solid white;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}


.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  height: 10px !important;
  width: 10px !important;
  opacity: 1 !important;
  border: 1px solid black !important;
  transition-timing-function: ease-in;

}

.carousel-indicators .active {
  background-color: #000 !important;
}

#collapse-content {
  margin: 0;
  padding: 0;
}

#issues-column {
  left: 25vw;
  border-bottom: 1px solid black;
}

.issues-health:hover, .issues-health-active {
  background-color: var(--health);
  color: black;
}

.issues-environment:hover, .issues-environment-active {
  background-color: var(--environment);
  color: black;
}

.issues-infrastructure:hover, .issues-infrastructure-active {
  background-color: var(--infrastructure);
  color: black;
}

.issues-text {
  opacity: 1;
  transition: opacity 1s;
}

.accordion-content {
  padding: 1em;
}

.issues-chapters {
  min-height: calc(100vh / 3);
  padding: 1em;
  border: 1px solid black;
  word-wrap: normal;
  transition: background-color 0.5s, min-height 0.4s;
}

.invis {
  max-height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  font-size: 0;
  transition: max-height 0.5s;
}

.vis {
  position: static;
  max-height: 100vh;
  opacity: 1;
  font-size: 1.25rem;
  transition: max-height 0.5s linear, font-size 0.05s 0.25s, opacity 0.25s 0.3s;
}

.collapse-issue {
  min-height: 0;
}

.collapse-text {
  font-size: inherit;
  margin: 0;
}